In [5]:
for i in range(4,20,2):
 print(i)

4
6
8
10
12
14
16
18

In [11]:
n=1
while n <= 10: 
 if n==6:
  n = n+1
  continue
 print(n)
 n=n+1

print("done")

1
2
3
4
5
7
8
9
10
done

In [7]:
for i in range(4,20,2): #(Initialization,condition,post statement)
 print(i)

4
6
8
10
12
14
16
18

In [15]:
veg= ['tomato','onion','potato']
for v in veg:
 print(v)

tomato
onion
potato

In [16]:
dict{'a':'A','b':'B','c':C}
for letter in dict
 print(dict.values)

SyntaxError: invalid syntax (1304352505.py, line 1)

In [19]:
dict={'a':'A','b':'B','c':'C'}
for letter in dict.values():
 print(letter)

A
B
C

In [22]:
n=1
m=18
while n<=10:
 print(m,'x',n,"=",m*n)
 n=n+1

18 x 1 = 18
18 x 2 = 36
18 x 3 = 54
18 x 4 = 72
18 x 5 = 90
18 x 6 = 108
18 x 7 = 126
18 x 8 = 144
18 x 9 = 162
18 x 10 = 180

In [23]:
n=1
s=112
while n<= 15:
 print(s,"x",n,"=",s*n)
 n=n+1

112 x 1 = 112
112 x 2 = 224
112 x 3 = 336
112 x 4 = 448
112 x 5 = 560
112 x 6 = 672
112 x 7 = 784
112 x 8 = 896
112 x 9 = 1008
112 x 10 = 1120
112 x 11 = 1232
112 x 12 = 1344
112 x 13 = 1456
112 x 14 = 1568
112 x 15 = 1680

In [24]:
numbers=[1,2,3,5,6,9]
for n in numbers:
    if n<9:
        print(n)

1
2
3
5
6

In [28]:
def my name("md easin Arafath"):
    return md easin Arafath

SyntaxError: invalid syntax (334081649.py, line 1)

In [37]:
def my_Name(Easin):
    return Easin

In [39]:
t=my_Name('Easin')

In [41]:
t

'Easin'

In [42]:
def my_name(name,age,height):
    return name,age,height

In [53]:
my_name('Easin','27','5.8')

('Easin', '27', '5.8')

In [47]:
name,age,height=my_name('Easin','27','5.8')

In [48]:
age

'27'

In [49]:
height

'5.8'

In [50]:
name

'Easin'

In [68]:
def my_name(name,age,height):
    return name,age,height

In [69]:
my_name('md easin arafat','27','5.8')

('md easin arafat', '27', '5.8')

In [70]:
name

'md easin arafath'

In [107]:
def add(a,b):
    return a+b
adding = add(100,500)
adding

600

In [97]:
def add (a,b):
    return a+b

In [106]:
sum=add (10,5)
sum

15

In [93]:
lambda_add= lambda a,b : a+b
lambda_add (20,10)

30

In [119]:
i=[2,3,4,5,6,7,8,9]
square = lambda n:n*n
new= map(square,i)
m=set(new)
print(m)

{64, 4, 36, 9, 16, 49, 81, 25}

In [122]:
i=[1,2,3,4]
cube = lambda n:n*n
new = map (cube,i)
m=set(new)
print(m)

{16, 1, 4, 9}